@import "../../scss/variables.scss";

.Carousel {
  width: 80vw;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.carouselContent {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.carouselImages {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: flex;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  transition: translate 400ms ease;
}

.arrowBtnLeft,
.arrowBtnRight {
  all: unset;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1em;
  opacity: 0.5;
  transition: color 200ms ease-in-out;
  color: $eb-blue;
  z-index: 999;
}

.arrowBtnLeft:hover {
  background-image: linear-gradient(to right, $fade, transparent);
  color: $eb-blue-hover;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.arrowBtnRight:hover {
  background-image: linear-gradient(to left, $fade, transparent);
  color: $eb-blue-hover;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
